.box{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.inputContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Ajusta el ancho de las columnas según el espacio disponible */
    gap: 10px; /* Espacio entre los campos */
    margin: 10px; /* Margen alrededor de cada campo */
    width: 100%;
  }

.filterButton{
    display: flex;
    justify-content: end;
    width: 82.5%;
}

.data{
    margin-top: 20px;
    width: 100%;
    margin-bottom: 30px;
}


