.display{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto)); /* Flexibilidad en el número de columnas y tamaño mínimo de 300px */
  gap: 20px;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  grid-auto-flow: row; /* Hacer que los elementos fluyan en filas */
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espacio entre los elementos */
  margin-left: 30px;
}

.finalBlock{
  height: 30px;
}

/* Media Query para pantallas más pequeñas (ajusta el valor de 768px según tus necesidades) */
@media (max-width: 768px) {
  .display {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Cambia el tamaño mínimo a 250px */
  }
}